#header .navbar{
	position: fixed;
}
.TopMenu{
	padding: 10px 0;
	font-size: 16px;
	float: right;
}
.navbar {
  overflow: unset;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
  z-index: 1;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 0px;
  font-size: 17px;
}
.hr {
	border: solid 1px;
}
#Contain{
	margin-top: 10%;
}
.SlideShow{
	margin: 15px 0;
}
.carousel-item img{
	width: 100%;
	max-height: 600px ;
}
.Info img{
	width: 100%;
	max-height: 150px;
}
h1 {
	text-align: center;
	padding: 20px 10px;
}
button{
	padding: 5px;
}
button:hover{
	box-shadow: 1px 1px 1px grey;
}
footer{
	margin-top: 20px;
}
.footer{
	display: flex;
	background-color: #eee;
	padding: 15px 0;
}	
.footer .fa{
	font-size: 24px;
	margin: 0 5px;
}
.copyright{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 15px;
	margin: auto;
	width: 100%
}