#user{
	background-color: #6363ff;
	height: 40px;
	display: flow-root;
}
#help{
	float: left;
	padding: 10px 15px 0 0;
	margin-left: 50px;
}
.account{
	float: right;
	padding: 10px 15px;
}
#header{
	background-color: blue;
	display: flex;
}
.label{
	color: white;
	margin-left: 50px;
	line-height: 0px;
	font-size: 14px;
}
.label a{
	text-decoration: none;
    color: white;
    font-size: 30px;
}
.nav{
	background-color: blue;
	margin: 20px 100px;
}
 a  {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 15px;
}
.nav img{
	margin-left: 400px;

}
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #7777ff}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0808c0;
}
#Cart{
    color: white;
    padding: 15px;
    margin-left: auto;	
}
#cover-1{
	background-image: url(images/b2.jpg);
	height: 600px;
}
#image{
	display: flex;
    margin: 40px 150px; 
    text-align: center;
}
#image span{
	background-color: rgba(59, 59, 253, 0.5);
	font-size: 36px;
    color: white;
    padding: 10px;
}
.Sale-Percent{
	border-radius: 100%;
	background-color: blue;
	color: white;
	height: 75px;
	width: 75px;
	margin: 100px 270px;
	font-size: 30px;
    padding: 10px
}
.p1{
	background-image: url(images/p1.jpg);
	height: 640px;
    width: 590px;
    margin: 10px;


}
.p2{
	background-image: url(images/p2.jpg);
	height: 315px;
	width: 640px;
	margin: 10px;
	line-height: 300px;
}
.SaB{
	display: flex;
	margin: 10px; 
	line-height: 330px;
}
.p3{
	background-image: url(images/p3.jpg);
	height: 315px;
	width: 315px;

}
.p4{
	background-image: url(images/p4.jpg);
	height: 315px;
	width: 315px;
	margin-left: 10px;
}
del {
	color: grey
}
h1{
	color: #4848ed;
	padding-top: 60px;
	font-size: 60px;
}
#arrivals{
	background-color:#dcdcdc;
	text-align: center;
}	

#cover-2{
	background-image: url(images/ban1.jpg);
	height: 441px;
}
.products{
	display: inline-block;
    margin: 50px 20px;
    box-shadow: 0 0 5px grey;
    background-color: white;

}
.imgProduct{
	display: flex;
	color: white;
}

.InfoProduct{
	background-color: #e1e1e1;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
.InfoProduct h4 {
	color: blue;
}
button{
	border: solid 1px;
	border-color: orange;
	color: blue;
	padding: 10px;
}
.sellProduct{
	text-align: center;
}
.Sale{
	display: flex;
    position: absolute;
    margin: 50px -315px;
    background-color: red;
    padding: 5px 10px;
}
.new{
	display: flex;
    position: absolute;
    margin: 100px -315px;
    background-color: #c6a74b;
    padding: 5px 10px;
}
.OutOfStock{
	display: flex;
    position: absolute;
    margin: 75px -330px;
    background-color: blue;
    padding: 5px 10px;
}
.sp7{
	margin: 
}
#Fashion{
	background-color:#dcdcdc;
	text-align: center;
}
.Fashion{
	margin: 20px;
	
}
.Fashion img{
	width: 400px;
}
.L1to3, .L4to6 {
	display: inline-flex;
}
.small-sale{
	width: 50px; 
	height: 50px;
	color: white;
	background-color: #4444f1;
	border-radius: 100%;
	left: 350px;
	top: -270px;
	position: relative;
	line-height: 45px

}
.Fashion p{
	background-color: rgba(59, 59, 253, 0.5);
    font-size: 36px;
    color: white;
    padding: 10px;
    position: relative;
    margin-top: -115px;
    
}
#Contact{
	background-color: #4747f3;
	color: white;
	display: flex;
}
#Contact .fa{
	padding: 15px;
	background-color: #ebba27;
	border-radius: 100%

}
.Contact{
	margin: 20px 80px;
}
.Contact h3{
	font-size: 30px;
}
.material-icons{
	border: solid 1px;
	border-radius: 100%;
	border-color: #c8c859;
	padding: 5px;
	margin: 5px;
}
footer{
	background-color: black;
	color: white;
    padding: 40px;
}
footer img{
	float: right;
}