
#header{
    text-align: center;
    height: 40px;
    padding: 30px;
}
a {
	text-decoration: none;
    margin: 15px;
    font-size: 20px; 
}
a:active{
	color: red;
}
.cover{
	background-image: url(images/banner.jpg);
	margin: 0 auto;
	width: 90%;
	height: 700px;
	text-align: center;
}
.cover .fa{
	border: solid;
    border-color: #65eeff;
    color: white;
    font-size: 24px;
    padding: 20px;
}
.topleft{
	text-align: left;
	color: #47ffee;
	font-size: 40px;
}
.topleft span{
	margin: 50px;
    top: 30px;
    position: relative;
}
.middle{
	margin: 150px 0;
}
.middle span{
	color: grey;
	font-size: 25px;
}
h2{
	color: white;
	font-size: 45px;
}
#info{
	display: flex;
    margin: 0 150px;
    margin-top: -160px;
    position: relative;
}
.info, .video {
    background-color: black;
    height: 400px;
    width: 500px;
    position: relative;
    margin: 0 50px;
}
.info img{
	width: 128px;
	height: 128px;
	margin: 20px 186px -5px;
}
.info hr{
	width: 80%;
	background-color: red;
	border: solid 5px;
}
.info table{
	color: white;
    padding: 10px 45px;
    font-size: 20px;
}
.video video{
	width: 400px;
	height: 300px;
	margin: 50px 50px;
	background-color: #7979e9;
}
#me{
	margin: 20px 150px;
}
h5{
	color: blue;
}

.skill progress{
	width: 100%;
}
.project{
	display: flex;
	margin: 15px 0;
	background-color: #f7f7f7;
}
.Projects{
	width: 59%;
	padding: 15px;
}
.project img{
	width: 62%;
}
.project h4{
	color: #5ce6f7;
}
#Contact{
	display: flex;
}
.Contact{
	background-color: #20aec0;
	padding: 10px;
	width: 40%;
}
.Contact input{
	border: none;
	margin-top: 10px;
	size: 20px;
	padding: 10px 20px;
	background-color: #20aec0;
	border-bottom: solid 1px;
}
.mess{
	height: 60px;
	overflow: hidden;

}
.address{
	background-color: black;
	width: 60%;

}
button{
	margin-top: 20px;
	background-color: #1e1ea5;
	border: none;
	padding: 10px;
}
footer{
	background-color: black;
	color: white;
	margin: 40px;
    padding: 40px;
    text-align: center;
}

