.logo span {
  font-size: 2em; }

footer hr {
  border: solid 2px; }

footer input{
    padding: 5px 7px;
}
footer{
    padding: 25px 0;
}
.social i{
    font-size: 24px;
}
img {
    width: 100%;
}
#header .fixed-scroll{
    border-radius: 0;
    position: fixed;
}
#header .nav-item{
    background-color: #363636;
}
#header .active{
    background-color: #2ca5fe;
}
.menu a, .menu .dropdown span, #header .more span{
    line-height: 50px;
}
.logo, #header .menu .nav-link {
    letter-spacing: 3px;
    width: max-content;
    color: white;
    line-height: 70px;

}
#header .dropbtn {
    background-color: #363636;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/*----------------------------*/
.drpdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*----------------------------*/    
.backgroundsImg{
    position: relative;
    background-image: url(../layout%202/HTML_Files/assets/images/backgrounds/cover-1.jpg);
    background-position: center;
    width: 100%;
    min-height: 500px;
}
.backgroundsImg .centered{
    background-color: unset;
}
.backgroundsImg:hover {
    background-position: top;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;

}
.dim{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(89, 89, 89, 0.4);
    height: 500px;
    max-height: 500px;
}

.meet,.info{
    text-align: center;
    padding: 30px 0;
}
.meet hr{
    width: 50%;
    border: solid 1px;
}
.member{
    background-color: #eee;
    padding: 80px 0;
}
._1 h2{
    color: blue;
}
._2 h2{
    color: green;
}
.info{
    background-color: #c2c2c2;
}
.info span{
    color: grey;

}