.logo span {
  font-size: 2em; }

footer hr {
  border: solid 2px; }

footer input{
	padding: 5px 7px;
}
.social i{
	font-size: 24px;
}
img {
	width: 100%;
}
#header .fixed-scroll{
	border-radius: 0;
	position: fixed;
}
#header .nav-item{
	background-color: #363636;
}
#header .active{
	background-color: #2ca5fe;
}
.menu a, .menu .dropdown span, #header .more span{
    line-height: 50px;
}
.logo, #header .menu .nav-link {
	letter-spacing: 3px;
	width: max-content;
	color: white;
	line-height: 70px;

}
#header .dropbtn {
    background-color: #363636;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/*----------------------------*/
.drpdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*----------------------------*/	
.HTML5, .BOOTSTRAP {
	color:  #40ba71;
}
.WORDPRESS{
	color: #318fdb;
}
.Great{
	background-color: #00b0ff;
	color: white;
}
.Great, .Lamp{
	padding: 50px 0;
}
.Lamp{
	background-color: #eee;
}
.title{
	position: absolute;
    top: 20%;
    left: 15%;
    right: 60%;
} 
.title hr{
	border: solid 2px green;
}
.backgrounds-Img .carousel-caption hr{
	border: solid 2px white; 
}
.imgText {
    position: relative;
    text-align: center;
    color: white;
    padding: 100px;
}
.imgText{
	background-image: url(../layout%202/HTML_Files/assets/images/backgrounds/background-1.jpg);
    background-position: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

/*--===ZOom===--*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*---------------------------------*/
/*--===Portfolio===--*/
.Portfolio input{
	background-color: #eee;
	border: solid 2px;
}


* {
    box-sizing: border-box;
}
.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/*---------------------------*/