




.logo{
	
	span{
		font-size: 2em;
	}
}
.fixed-top{
	border-radius: 0;
	.nav-item{
		background-color: #363636;
	}
	.active{
		background-color: blue;
		}
}













.Portfolio{
	hr{
		border: solid 2px;
	}
}
footer{
	 

	hr{
		border: solid 5px;
	}
}