#Content{
	padding-top: 69px;
}
#Top .navbar{
	position: fixed;
	border: 0;
}
.navbar-brand{
	letter-spacing: 3px;
	margin: 0 5px;
}
.cover{
	position: relative;
}
.cover h1{
	font-size: 60px;
}
.cover img{
	width: 100%;
	height: auto;
}
.text-in-img{
	position: absolute;
	bottom: 50%;
	top: 50%;
	color: white;
	width: 100%;
	font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
}
.text-in-img span{
	opacity: 0.9;
	padding: 5px 15px;
	-ms-transform: rotate(2deg); 
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    background-color: rgba(18, 18, 18, 0.7)
}
#Projects{
	position: relative;
}
#Projects img{
	width: 100%;
	min-width: 120px; 
}
#Projects .badge-dark{
	padding: 10px;
	background-color: #000000;
	border-radius: 0;
	font-size: 16px;
	position: absolute;
	top: 0;
}
.row{
	margin: 15px 0;
}
#About p{
	font-size: 21px;
}
#About .btn-light{
	width: 100%;
	padding: 10px;
}
#About img{
	width: 100%;
}
#About span{
	color: grey;
}
#About div{
	font-size: 20px;
	margin: 10px 0;
}

#Contact{
	padding: 30px 0;
}
#Contact input{
	padding: 10px;
	border: 0;
	border-radius: 0;
	border-bottom: solid 0.5px grey;
	margin: 10px 0;
}
footer{
	width: 100%;
	background-color: black;
	height: 50px;
}