@media all and (max-width: 320px) {
   body {
      background: #e7e7e7;
   }
}

#header{
   height: 50px;
}

.logo{
    position: absolute;
    color: #c20606;
    font-size: 70px;
    margin-left: 30px;
    margin-top: 10px;
}
.slogan{
    font-size: 15px;
    display: block;
    color: white;
    line-height: 0px;
    margin-left: 50px;
}
a  {
    text-decoration: none;
    font-size: 18px;
    margin-right: 15px;
}
nav {
    display: flex;
    right: 0px;
    float: right;
    margin: 10px;   
}
.nav a{
    margin: 10px;
    color: #6060ff;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: white;
    color: #6060ff;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0808c0;
}


.imgcover{
    min-width: 320px;
    width: 100%;
    float: left;
}
.About-Company{
    background-color: #55cddc;
    color: white;
    padding: 0 20px;
}
.Word_in_Img{
    position: absolute;
    text-align: right;
    right: 10%;
    top: 40%;
    color: white;

}
.Word_in_Img h1{
    font-size: 60px;
    letter-spacing: 5px;
}
.Word_in_Img span{
    letter-spacing: 10px;
}

.arrow{
    position: fixed;
    bottom: 50px;
    right: 0px;
}



.title {
    text-align: center;
}
.Welcome span{
    text-align: center;
}
.title p{
    color: grey;
}
.introduce{
    display: flex;
    margin: auto 150px;
}
.introduce img{
    width: 100%;
    height: auto;

}
.introduce h1{
    text-align: left;
}
.information{
    text-align: justify;
    max-width: 40%;
}
.moreinf{
    margin: auto 150px;
    display: block;
    
}
.moreinf p , .inf p{
    margin-left: 32px;
    color: grey;
}
.logo-in-img{
    position: absolute;
    color: white;
    margin-top: 55px;
    margin-left: 20px;
    font-size: 32px;
}

.dim{
    width: 40%;
    height: 80%;
    opacity: 0.1;
    position: absolute;
    background-color: #555555;
    margin: 0 150px;
    max-height: 535px;
    max-width: 1202px;
}
.introduce img{
    float: left;

}
.logo-in-img span {
    font-weight: bolder;

}
.succeed{
    display: flex;
    margin: 0 150px;
}
.list{
    max-width: 650px;
    width: 650px;
    font-size: 20px;
    float: left;
}
.list i, .introduce i, .moreinf i {
    color: blue;
}
.index-serives{
    float: right;
    background-image: url(images/index-serives.jpg);
    width: 550px;
    height: 550px;
}

.table_list h3{
    color: #5959ff;
}
.table_list span{
    margin-left: 10px;
}
.table_list{
    color: white;
    font-size: 20px;
    margin: 0 40px;

}
footer{
    background-color: black;
    color: white;
    display: flex;
    margin-top: 20px;
    padding: 15px;
}
.type{
    padding: 10px;
}
.send{
    background-color: orange;
    border: none;
    padding: 10px;
}
.menu a{
    color: #d2d2d2;
}
footer p{
    color: #d2d2d2;
}
.menu{
    float: left;
    width: 25%
}
.get-intouch{
    float: left;
    width: 25%;
}
.letter{
    float: right;
    width: 25%
}
.copyright{
    float: right;
    width: 25%;
}
.copyright b{
    color: orange;
}