@media all and (max-width: 320px) {
   body {
      background: #e7e7e7;
   }
}

.logo span{
	font-size: xx-large;
	font-style: initial;
	color: black;
}
.logo{
	font-style: oblique;
	color: #3fce3f;
	position: absolute;
	margin-top: 30px;
	margin-left: 40px;
	letter-spacing: 3px;
}


#navigation{
	float: right;
	margin: 10px;
}
.phone_mail{
	text-align: right;
	font-size: 20px;
	color: grey;

}
a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 5px;
    color: black;
}
.fa{
	font-size: 24px;
	margin: 10px;
}

nav {
    right: 0px;
    float: right;
    margin: 0px;   
}
.nav a{
    margin: 10px;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: white;
    color: black;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: ;
    color: #3fce3f;
}
a:hover{
	color: #3fce3f;
}
a.current{
	color: #3fce3f;
}

.cover{
	display: inline-flex;
    width: 100%;
}
.imgcover{
    min-width: 320px;
    width: 100%;
}
.Word_in_Img span {
    letter-spacing: 10px;
    color: white;
}

.Word_in_Img{
    position: absolute;
    text-align: center;
    color: white;
    left: 20%;
    top: 400px;
    right: 20%;
}
.Word_in_Img h1{
    font-size: 60px;
    letter-spacing: 5px;
}
.button{
	background-color: #82b62d;
	padding: 5px 30px;
	border: none;
	color: white;
}
.arrow{
    position: fixed;
    bottom: 50px;
    right: 0px;

}
.title {
    text-align: center;
}

.title h1{
	font-size: -webkit-xxx-large;
	margin-top: 15px;
}
.introduce{
	display: flex;
	margin: 10px 50px;
	font-size: 18px;
}
.introduce img{
	margin: 15px ;
	height: auto;
	max-width: 600px;
	width: 500px;
}

.text p{
	color: grey;
}

#Services{
	background-color: #ededed;
	
}

.Services{
	display: inline-flex;
	margin: 10px 50px;
	text-align: center;
}
.icon{
	font-size: 30px;
	padding: 10px;
	color: #82b62d;
}
.icon .fa{
	background-color: #fff;
	
}

.news{
	display: flex;
	margin: 30px 50px;
}
.news h1{
	margin-left: 20px;
	padding: 15px;
}
.info{
	margin: 0 15px;
}
#Join{
	position: relative;
	display: flex;

}
#Join img{
	width: 100%;
	height: 300px;
}
.send{
	font-size: 20px;
	padding: 10px;
	background-color: #82b62d;
	padding: 15px;
}
.join{
    position: absolute;
    text-align: center;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 40%;
}
.join input{
	padding: 10px;
	padding-right: 100px;
	font-size: 20px;
}
.join h1{
	color: white;	
	font-size: 40px;
}
.dim {
	position: absolute;
	background-color: rgba(136, 136, 255, 0.2);
	width: 100%;
	height: 50px;
	bottom: 0;
}

#Us_Event{
	display: flex;
	background-color: #f3f3f3;

}

.us_ev{
	width: 20%;
	margin: 30px 50px;
}
.us_ev span{
	color: grey;
}
.copyright{
	background-color: black;
	color: white;
	text-align: center;
    display: grid;
}

footer b{
	color: #82b62d;
}