#Content{
	padding-top: 69px;
}
#Top .navbar{
	position: fixed;
	border: 0;
}
.navbar-brand{
	letter-spacing: 5px;
	margin: 0 5px;
}
.cover{
	position: relative;
}
.cover img{
	width: 100%;
	height: auto;
}
.text-in-img{
	position: absolute;
	bottom: 15%;
	top: 85%;
	color: grey;
	width: 100%;
	font-size: 30px;
	letter-spacing: 5px;
	padding-left: 20px;
}

.container {
	margin-top: 40px;
}
.media{
	padding: 30px 0;
	margin-bottom: 15px;
}
.media-body{
	padding: 0 20px;
	font-size: 18px;
}
.setting_1 h2, .setting_1 h6, .setting_2 h2{
	text-align: center;
	letter-spacing: 4px;
}
.setting_1 p:last-child{
	color: grey;
}
.setting_2 h5{
	letter-spacing: 4px;
}
.setting_2 span{
	color: grey;
	font-size: 14px;
}
#Contact{
	padding: 30px 0;
}
#Contact p span{
	color: #2020ab;
}
#Contact input{
	padding: 10px;
	border: 0;
	border-radius: 0;
	border-bottom: solid 0.5px grey;
}

footer{
	width: 100%;
	background-color: #eee;
	height: 50px;
}