.cover img {
	width: 100%;
	height: auto;
}
.cover{
	position: relative;
}
#Logo{
	text-align: center;
	padding: 50px 0;
}
.text-in-img{
	position: absolute;
    top: 40%;
	bottom: 60%;
	color: #fffefe;
	width: 100%;
	font-size: 30px;
	letter-spacing: 2px;
	padding-left: 20px;
}
.text-in-img h1{
	font-size: 60px;
	margin-top: 10px;
}
.text-in-img .btn{
	background-color: rgba(235, 235, 235, 0.58);
}
#Content{
	background-color: #eee;
}
.title, h2{
	margin: 20px 0;
	text-align: center;
}
.title h1{
	font-size: 32px;
	letter-spacing: 0;
    padding: 0 10px;
    padding-top: 35px;
}
.title span{
	color: grey;
}
.Content-Blog .badge{
	padding: 5px 10px;
}
.Blog{
	background-color: #fff;
	margin: 15px 0;
}
.Blog img{
	height: auto;
	width: 100%;
	margin: 15px 0;
}
.Blog button{
	margin: 15px 0;
}
.col-sm-4{
	margin: 20px 0;
}
.My-Avatar img{
	width: 100%;
	height: auto;
}
.My-Avatar {
	background-color: black;
	color: white;
}
.My-Avatar div{
	padding: 10px;
	font-size: 17px;	
}
.Replie{
	float: right;
}
.col-sm-10{
	padding: 10px 0;
}
.col-sm-10 h3{
	line-height: 50px;
}
.col-sm-10 span{
	color: grey;
	font-size: 16px;
}
.right-Col{
	margin: 10px 0;
}
.information{
	background-color: white;
	padding: 10px;
}
.tt-r-Col{
	background-color: black;
	color: white;
	font-size: 24px;
	padding: 10px 5px;
}
.media img{
	width: 25%;
	height: auto;
}
.media{
	margin-top: 10px;
}
.media-body{
	margin-left: 10px;
}
.ADS{
	background-color: #eee;
	padding: 10px;
	text-align: center;
}
.Tag .badge{
	margin: 0 10px;
}
.Tag .badge-dark{
	font-size: 16px;
}
.col-sm-6 img{
	width: 100%;
	height: auto;
	margin: 10px 0;
}
.col-sm-12 input{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}
.Subscribe{
	background-color: red;
	border: 0;
	color: white;
}
footer{
	background-color: grey;
	width: 100%;
}
footer button{
	margin: 30px 0;
}