.Top {
	background-color: black;
	color: white;
}
.img-fluid{
	width: 100%;
}
.navbar{
	color: #fff;
}
.cover{
	position: relative;
}
.text-in-img{
	position: absolute;
	top: 70%;
	bottom: 30%;
	text-align: center;
	color: #fffefe;
	width: 100%;
	letter-spacing: 2px;
}
.title, h2{
	margin: 20px 0;
	text-align: center;
}
.title h1{
	font-size: 32px;
	letter-spacing: 4px;
	padding: 10px;
}
.title span{
	color: grey;
}
#Tour-Date{
	background-color: black;

}
.name{
	width: 100%;
    height: auto;
    border-radius: 10px;
}
#Tour-Date h1{
	color: #FFF;
}
#Tour-Date .badge-dark{
	padding: 5px 10px;
	font-size: 20px;
}
.badge-dark{
	float: right;
}
.tickets{
    margin: 20px 0;
    background-color: #eee;
}
.tickets img{
	width: 100%;
    height: auto;
}
.tickets .button{
	float: left;
	margin: 10px 0;
}
.Paris, .NewYork, .Sanfrancisco{
	margin: 20px 0;
    margin-right: 16px;
    margin-left: 15px;
}
.row .tickets{
	padding: 0;
}
.Info-ticket{
	margin: 15px;
	padding: 5px;
}
.Info-ticket i{
	color: grey;
}
.button{
	float: right;
	color: 	#fff;
	background-color: black;
	margin: 10px 0;
}
.row, .fa{
	margin: 5px 0;
}
#Contact .fa{
	font-size: 24px;
}
#Contact td{
	padding: 0 5px;
}
footer{
	background-color: #eee;
	height: auto;
	width: 100%;
	text-align: center;
	padding: 30px;
	font-size: 36px;
}